*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainNav{
    background-color:red;
    display: flex;
    justify-content: space-between;
}


.nav{
    background-color: rgb(240, 255, 243, 0.5);
    font-size: 150%;
    padding: 0.5%;
}

.mainMi{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    
}

.main{
    background-color: rgb(169, 212, 229);
    flex-grow: 4;
    height: 81dvh;
    text-align: center;
    font-size: 150%;
    padding: 17%;

}

.mainMenu{
    background-color: rgb(235, 223, 199);
    height: 81vh;
    flex-grow: 1;
    display: block;
    flex-direction:column;
    font-size: 150%;    
}


.menuitem{
    background-color: rgb(215, 160, 58);
    margin-bottom: 4%;
    height: 5.5vh;
}

.menuitem1{
    background-color: rgb(235, 149, 83);
    display: inline-block;
    margin-top: 21vh;
    padding-bottom: 5%;
    text-align: center;
}

.footer{
    background-color: rgb(240, 199, 219);
    display: flex;
    justify-content: center;
    padding: 2%;
    font-size: 150%;
}

